:root {
    --text-color: #FAFAF6;
    --background-color: black;
    --extra-colorOne: #ffd074;
    --extra-colorTwo: #17f1d1;
    --extra-colorThree: #A374FF;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: crosshair;

}


body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* navigation bar */
#navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    background-color: rgba(0, 0, 0, 0.484);
    backdrop-filter: blur(8px);
    /* box-shadow: 0 2px 10px #fafaf661; */
}


.nav-menu {
    display: flex;
}

.nav-list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.8em;
    font-weight: 500;
    padding: 1em .8em;
    transition: 300ms ease-in-out;

}

.nav-link:hover {
    font-weight: 600;
    background-color: var(--extra-colorThree);
    color: var(--background-color);
    padding-left:  1em;
    padding-right: 1em ;
    border-radius: 10px;

}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header */

#logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 1em 1.4em 1em 1em;
}

#logo>img {
    transition: 250ms ease-in-out;

}

#logo>img:hover {
    box-shadow: 0px 0px 20px 0 var(--extra-colorThree) inset;
    border-radius: 50%;
}

#remarks {
    font-size: 1.5em;
    transition: 250ms ease-in-out;

}

#bonjour {
    color: var(--extra-colorOne);

}

#konichiwa {
    color: var(--extra-colorThree);

}

#main-header {
    font-size: 12em;
    background-image: url("../images/title-background.gif");
    background-position: -100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sub-heading {
    color: var(--extra-colorTwo);
    font-size: 2rem;
    transition: 250ms ease-in-out;
}

#remarks:hover,
#sub-heading:hover {
    text-shadow: 0 0 10px var(--extra-colorTwo);
    filter: contrast(1.75);
}

#shout {
    padding: .8em 1.7em;
    background-color: var(--extra-colorThree);
    font-weight: 700;
    border-radius: 5px;
    margin-top: 2em;
    /* box-shadow: inset 0 0 0 0 #17f1d1; */
    transition: 250ms ease-in-out;
    border: none;
}

#shout:hover {
    /* box-shadow: inset 400px 0 0 0 #17f1d1 ; */
    box-shadow: 0 0 20px 0 var(--extra-colorThree);
}

/* section one */
.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 5rem;
}

.about-label{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center; 
    font-weight: 600;

    background-image: url("../images/title-background.gif");
    background-position: -100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Slideshow container */
.slideshow-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 3em;
    height: 350px;
    width: 50%;
    z-index: -10;
}

.mySlides {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}


.clickers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

a.prev,
a.next{
    position: relative;
    user-select: none;
    height: auto;
    width: auto;
    padding: 20px 25px;
    color: var(--extra-colorThree);
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    
}

a.prev:hover,
a.next:hover {
    box-shadow: 0px 0px 10px 10px var(--extra-colorThree) inset;
    filter: brightness(1.1);
}

/* Caption text */
.text {
    color: var(--text-color);
    font-size: 2rem;
    padding: 8px 12px;
    width: 100%;
    text-align: center;

}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* responsiveness */
@media (max-width: 1220px) {
    #main-header {
        font-size: 8em;
    }
}

@media (max-width: 1000px){
    .slideshow-container{
        width: 80%;
    }
}

@media (max-width: 865px) {
    #main-header {
        font-size: 5em;
    }

    .header-content {
        margin: 0 2rem;
    }

    .text{
        font-size: 1.5rem;
    }
}

@media (max-width: 500px){
    .slideshow-container{
        width: 100%;
    }
}

@media (max-width: 400px) {
    #logo>img {
        height: 35px;
        width: 35px;
    }

    .nav-link {
        font-size: 1.2em;
    }


}

@media (max-width: 320px) {
    #main-header {
        font-size: 3.5em;
    }

    #remarks {
        font-size: 1em;
    }

    .header-content {
        margin: 0 2rem;
    }

}

